@mixin searchtext {
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* make this a drawer that pulls out on hover */
#nav-box {
    background-color: rgba(228, 210, 187, 0.7);
    border: 5px solid #e4d2bb;
    border-radius: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 5px 0 5px;
    position: absolute;
    right: 0px;
    top: 120px;
    width: 300px;
    text-align: center;
    .header {
        border-bottom: 3px dotted gray;
        font-family: 'EB Garamond', serif;
        font-size: 48px;
        font-weight: bold;
    }
    input {
        @include searchtext;
        border-radius: 8px;
        margin: 5px 0 5px 0;

        &.filter {
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
            width: 250px;
        }
        &.button {
            cursor: pointer;
            display: inline;
            font-weight: bold;
            margin-top: 20px;
            width: 60px;
            &:first {
                float: left;
                padding-right: 3px;
            }
        }
    }
}

.tt-dropdown-menu {
    @include searchtext;
    background-color: white;
    width: 250px;
}

.tt-hint, .tt-query {
    @include searchtext;
    margin: 0 auto;
    padding: 0;
    width: 250px;
}

.tt-suggestions {
    @include searchtext;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 250px;
}

.content {
    border: 1px dotted black;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    padding: 5px 5px 5px 15px;
    width: 180px;
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
}

#map-canvas {
    height: 100%;
}
