<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SF Movie Map</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Josefin+Sans:600|Alegreya:400italic,400,700|EB+Garamond'>
  {% assets "scss_main" %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  {% endassets %}
</head>
<body>
  <div id="map-canvas">
  </div>
  <div id="nav-box">
    <h2 class="header">sf movie map</h2>
    <div>What are you looking for?</div> 
    <input class="filter" id="by-title" type="text" placeholder="film title" />
    <input class="filter" id="by-director" type="text" placeholder="director" />
    <input class="filter" id="by-year" type="text" placeholder="year" />
    <input class="filter" id="by-location" type="text" placeholder="address, landmark, or intersection" />
    <input class="button" id="go" type="button" value="Go" />
    <input class="button" id="reset" type="button" value="Reset" />
  </div>
  <!-- to minify -->
  <script src="{{ url_for('static', filename='vendor/jquery-2.0.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/typeahead.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/underscore-min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/backbone-min.js') }}"></script>
  <script src="static/js/main.js"></script>

</body>
</html>

