<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cinematic SF</title>
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Reenie+Beanie' />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
  <div id="map-canvas">
  </div>
  <div id="nav-box">
    <p class="header">Cinematic San Francisco</p>
    <p>What are you looking for?</p> 
    <input id="search-box" type="search" placeholder="Search by title" />
  </div>
  <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='backbone-min.js') }}"></script> -->
  <script src="/static/js/main.js"></script>

</body>
</html>

