<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cinematic SF</title>
  {% assets "scss_main" %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  {% endassets %}
</head>
<body>
  <div id="map-canvas">
  </div>
  <div id="nav-box">
    <p class="header">sf movie map</p>
    <p>What are you looking for?</p> 
    <input id="search-box" type="search" placeholder="Search by title" />
  </div>
  <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>

